<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>look at that smile</string>
		<key>Photo</key>
		<string>axolotl1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>the happiest amphibian</string>
		<key>Photo</key>
		<string>axolotl2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>so cute</string>
		<key>Photo</key>
		<string>axolotl3</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>gorilla</string>
		<key>Photo</key>
		<string>gorilla1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>gorilla gorilla</string>
		<key>Photo</key>
		<string>gorilla2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>gorilla gorilla gorilla</string>
		<key>Photo</key>
		<string>gorilla3</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>blep</string>
		<key>Photo</key>
		<string>dog1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>oh wow</string>
		<key>Photo</key>
		<string>dog2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>lots of puppers</string>
		<key>Photo</key>
		<string>dog3</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>happy kitty</string>
		<key>Photo</key>
		<string>cat1</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>sad kitty</string>
		<key>Photo</key>
		<string>cat2</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>little ball of fur</string>
		<key>Photo</key>
		<string>cat3</string>
	</dict>
</array>
</plist>
